@using AllPay.EInvoice.Integration.Enumeration
@model AllPay.Einvoice.Integration.Sample.ViewModel.InvoiceTriggerViewModel
@{
    ViewBag.Title = "歐付寶電子支付";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "InvoiceTrigger", FormMethod.Post))
{
    <h2>
        付款完成觸發或延遲開立發票</h2>
    <div class="div1">
        <table class="table">
            <tr>
                <th>
                    廠商編號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.MerchantID, new { @Value = "2000132" })
                </td>
            </tr>
            <tr>
                <th>
                    交易單號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Tsr, new { @Value = "" })
                </td>
            </tr>
            <tr>
                <th>
                    交易類別(選填)：
                </th>
                <td>
                    @Html.DropDownListFor(m => m.PayType, new SelectList(Enum.GetValues(typeof(PayTypeEnum))))
                </td>
            </tr>


        </table>
    </div>
     <div class="buttonPanel">
         <button type="submit">
            送出</button>
        <button type="reset">
            重新填寫</button>
    </div>  
    <h2>顯示結果</h2>
    <span id="answer" class="div1">@ViewBag.message</span>
}
