@using AllPay.EInvoice.Integration.Enumeration
@model AllPay.Einvoice.Integration.Sample.ViewModel.InvoiceInvalidViewModel
@{
    ViewBag.Title = "歐付寶電子支付";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "InvoiceInvalid", FormMethod.Post))
{
    <h2>發票作廢</h2>
    <div class="div1">
        <table class="table">
            <tr>
                <th>
                    廠商編號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.MerchantID, new { @Value = "2000132" })
                </td>
            </tr>
            <tr>
                <th>
                    發票號碼(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceNumber, new { @Value = "ZB00000022" })
                </td>
            </tr>
            <tr>
                <th>
                    作廢原因(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Reason, new { @Value = "123test" })
                </td>
            </tr>
        </table>
    </div>
     <div class="buttonPanel">
         <button type="submit">
            送出</button>
        <button type="reset">
            重新填寫</button>
    </div>  
    <h2>顯示結果</h2>
    <span id="answer" class="div1">@ViewBag.message</span>
}
